<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
   <typeAliases>
     <!-- VO 등록!  -->
     <typeAlias type="com.sist.vo.PlaceVO" alias="PlaceVO"/>
     <typeAlias type="com.sist.vo.ImageVO" alias="ImageVO"/>
     <typeAlias type="com.sist.vo.CategoryVO" alias="CategoryVO"/>
     <typeAlias type="com.sist.vo.FreeBoardVO" alias="FreeBoardVO"/>
     <typeAlias type="com.sist.vo.ReviewVO" alias="ReviewVO"/>
     <typeAlias type="com.sist.vo.ReviewLikeVO" alias="ReviewLikeVO"/>
     <typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
     <typeAlias type="com.sist.vo.ReplyVO" alias="ReplyVO"/>
     <typeAlias type="com.sist.vo.AskVO" alias="AskVO"/>
     <typeAlias type="com.sist.vo.NoticeBoardVO" alias="NoticeBoardVO"/>
     <typeAlias type="com.sist.vo.PlaceLikeVO" alias="PlaceLikeVO"/>
   </typeAliases>
	<environments default="development"> <!-- 개발환경 만들기. -->
		<environment id="development">
			<transactionManager type="JDBC"/> <!-- AutoCommit을 쓰겠다.. -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@211.63.89.131:1521:XE"/>
				<property name="username" value="hr"/>
				<property name="password" value="happy"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
	  <!-- mapper 등록!! -->
      <mapper resource="com/sist/mapper/place-mapper.xml"/>
      <mapper resource="com/sist/mapper/category-mapper.xml"/>
      <mapper resource="com/sist/mapper/freeboard-mapper.xml"/>
      <mapper resource="com/sist/mapper/review-mapper.xml"/>
      <mapper resource="com/sist/mapper/member-mapper.xml"/>
      <mapper resource="com/sist/mapper/reply-mapper.xml"/>
      <mapper resource="com/sist/mapper/ask-mapper.xml"/>
      <mapper resource="com/sist/mapper/noticeboard-mapper.xml"/>
	</mappers>
</configuration>