<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.ask-mapper">
	<!-- 장소별 문의 목록 가져오기 -->
	<select id="askListData" resultType="AskVO" parameterType="hashmap">
		SELECT no, member_id, content, TO_CHAR(regdate,'YYYY-MM-DD') as dbday, isreply, group_id, group_tab, num
		FROM (SELECT no, member_id, content, regdate, isreply, group_id, group_tab, rownum as num
			FROM (SELECT no, member_id, content, regdate, isreply, group_id, group_tab
				FROM askboard_3 WHERE place_no = #{place_no} ORDER BY group_id DESC, group_step ASC ))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 장소별 문의 수 가져오기 -->
	<select id="askCount" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM askboard_3
		WHERE place_no=#{place_no}
	</select>
	<!-- 문의 등록하기 -->
	<insert id="askInsert" parameterType="AskVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM askboard_3
		</selectKey>
		INSERT INTO askboard_3(no,member_id,content,group_id,place_no)
		VALUES(#{no},#{member_id},#{content},(SELECT NVL(MAX(group_id)+1,1) as group_id FROM askboard_3),#{place_no})
	</insert>
	<!-- 문의 답변달기(관리자만 가능) -->
	<!-- [관리자] 문의글 목록-->
	<select id="admin_askReplyListData" resultType="AskVO">
		SELECT askboard_3.no, place_no, askboard_3.content, member_id, TO_CHAR(regdate,'YYYY-MM-DD') as dbday,
		rep_image as place_img, name as place_name
		FROM askboard_3,place_3
		WHERE isReply!=1 AND group_step!=1 AND place_no = place_3.no
		ORDER BY askboard_3.no DESC
	</select>
	<!-- [관리자] 문의 달기 전 group_id 얻기-->
	<select id="admin_getGroupId" resultType="int" parameterType="int">
		SELECT group_id FROM askboard_3
		WHERE no=#{no}
	</select>
	<!-- [관리자] 문의글 답변 등록 -->
	<insert id="admin_askReplyInsert" parameterType="AskVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM askboard_3
		</selectKey>
		INSERT INTO askboard_3(no,member_id,content,pwd,group_id, group_step, group_tab)
		VALUES(#{no},#{member_id},#{content},#{pwd},#{group_id},1,1)
	</insert>
	<!-- [관리자] 문의글 답변 등록 후 isReply 수정 -->
	<update id="admin_askReplyIsReply" parameterType="int">
		UPDATE askboard_3 SET
		isReply = 1
		WHERE no=#{no}
	</update>
</mapper>