<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.category-mapper">
<!-- 카테고리 목록 읽기 -->
<select id="categoryData" resultType="CategoryVO">
  SELECT no,title,subject,poster
  FROM category_3 ORDER BY no ASC
</select>

<select id="categoryCount" resultType="int"> 
 SELECT COUNT(*)
 FROM place_3
 GROUP BY category_no
 HAVING category_no IS NOT NULL
 ORDER BY category_no ASC
</select>

</mapper>