<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.freeboard-mapper">
	<!-- 목록 : 페이징 select -->
	<select id="boardListData" resultType="FreeBoardVO" parameterType="hashmap">
		 SELECT no,id,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,rcount,num
	    FROM (SELECT no,id,subject,name,regdate,hit,rcount,rownum as num 
	    FROM (SELECT /*+INDEX_DESC(FreeBoard_3 freeboard_no_pk)*/ no,id,subject,name,regdate,hit,rcount 
	    FROM freeboard_3))
	    WHERE num BETWEEN #{start} AND #{end}
	    ORDER BY no DESC
	</select>
	<select id="boardTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10.0) FROM freeboard_3
	</select>
	<!-- 값 가져오는법 => map.get("start") -->
	<!-- 등록 : 시퀀스 selectKey insert -->
	<insert id="boardInsert" parameterType="FreeBoardVO">
		INSERT INTO freeboard_3(no,id,name,subject,content,pwd)
		VALUES((SELECT NVL(MAX(no)+1,1)FROM freeboard_3),
		 #{name},#{id},#{subject},#{content},#{pwd}
		 )
	</insert>
	<!-- 값 가져오는법 => vo.getName() -->
	<!-- 상세보기 update -->
	<update id="hitIncrement" parameterType="int">
		UPDATE freeboard_3 SET
		hit=hit+1
		WHERE no=#{no}
	</update>
	<select id="boardDetailData" resultType="FreeBoardVO" parameterType="int">
		SELECT no,id,name,subject,content,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit
		FROM freeboard_3
		WHERE no=#{no}
	</select>
	<!-- 수정, 삭제(댓글) delete -->
	<select id="boardGetPassword" resultType="string" parameterType="int">
		SELECT pwd FROM freeboard_3
		WHERE no=#{no}
	</select>
	<update id="boardUpdate" parameterType="FreeBoardVO">
		UPDATE freeboard_3 SET
		name=#{name},id=#{id},subject=#{subject},content=#{content}
		WHERE no=#{no}
	</update>
	<delete id="boardDelete" parameterType="int">
		DELETE FROM freeboard_3
		WHERE no=#{no}
	</delete>
	<!-- 동적 쿼리, JOIN, SubQuery -->
	<select id="boardSearchData" resultType="FreeBoardVO">
     SELECT no,id,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit
     FROM freeboard_3
	 ORDER BY no DESC
   </select>
</mapper>