<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.place-mapper">
	<select id="placeListData" resultType="PlaceVO" parameterType="hashmap">
		SELECT no, host_name, name, price, address, capa, parking, category_no, type_no, rep_image, num
		FROM (SELECT no, host_name, name, price, address, capa, parking, category_no, type_no, rep_image, rownum as num
		FROM (SELECT no, host_name, name, price, address, capa, parking, category_no, type_no, rep_image
        FROM place_3 WHERE type_no = #{tno} ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="placeTotalCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM place_3
		WHERE type_no=#{tno}
	</select>
	<select id="placeTypeName" resultType="String" parameterType="int">
		select type from place_type_3 WHERE no=#{tno}
	</select>
	<select id="recommendPlaceList" resultType="PlaceVO">
	    SELECT S.*
		FROM (SELECT *
		FROM place_3
		order by SYS.dbms_random.value) S
		<![CDATA[WHERE ROWNUM <=9]]>
	</select>
</mapper>

