<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">
  <!-- 목록 -->
  <!-- 
        ${} => ''사용하지 않는다
        #{} => ''사용한다
        
        UPDATE board SET =>#{board} ==> 'board'  ==> ${board} => board
        name='홍길동' ==> #{name}
        WHERE no=1
        
        => 컬럼명 , 테이블명 ==> ${}
        => 일반 데이터      ==> #{}
   -->
  <update id="replycountIncrement" parameterType="ReplyVO">
    UPDATE ${table_name} SET
    rcount=rcount+1
    WHERE no=#{bno}
  </update>
  <select id="replyListData" resultType="ReplyVO" parameterType="ReplyVO">
    SELECT /*+ INDEX_DESC(reply_3 pr_no_pk)*/ no,bno,type,id,name,msg,TO_CHAR(regdate,'YYYY-MM-DD HH24:MI:SS') as dbday
    FROM reply_3
    WHERE bno=#{bno} AND type=#{type}
  </select>
  <!-- 추가 -->
  <insert id="replyInsert" parameterType="ReplyVO">
    <!-- sequence 
         order 순서 => BEFORE는 먼저 수행 
         고급 => JOIN , SUBQUERY , 동적쿼리 
    -->
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM reply_3
    </selectKey>
    INSERT INTO reply_3 VALUES(
      #{no},
      #{bno},
      #{type},
      #{id},
      #{name},
      #{msg},
      SYSDATE
    )
  </insert>
  <!-- 수정 -->
  <!-- 삭제 -->
  <delete id="replyDelete" parameterType="int">
   DELETE FROM reply_3
   WHERE no=#{no}
  </delete>
  
  <update id="replyUpdate" parameterType="ReplyVO">
   UPDATE reply_3 SET
   msg=#{msg}
   WHERE no=#{no}
  </update>
</mapper>