<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reserve-mapper">
	<!-- 예약불가능한 날짜 정보 불러오기 -->
	<select id="reserveGetDate" resultType="String" parameterType="int">
		SELECT check_date 
		FROM reserve_3 
		WHERE place_no=#{place_no}
		GROUP BY check_date HAVING COUNT(*)=16
	</select>
	<!-- 예약가능한 시간 정보 불러오기 -->
	<select id="reserveGetTime" resultType="TimeVO" parameterType="hashmap">
		SELECT no, time FROM reserve_time_info_3
		WHERE no NOT IN (SELECT check_time FROM reserve_3
			WHERE place_no=#{place_no} AND check_date=#{check_date})
		ORDER BY no ASC
	</select>
	<!-- 예약 INSERT -->
	<select id="reserveMaxNo" resultType="int">
		SELECT MAX(no) FROM reserve_3
	</select>
	<insert id="reserveInsert" parameterType="ReserveVO">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as seq FROM reserve_3
		</selectKey><!-- sequence -->
		INSERT INTO reserve_3(seq, check_time, capa, place_no, member_id, check_date, parking, no, price)
		VALUES(#{seq},#{check_time},#{capa},#{place_no},#{member_id},#{check_date},#{parking}, #{no}, #{price})
	</insert>
	<!-- 예약 조회용 timespan -->
	<select id="getRealTime" parameterType="int" resultType="String">
		SELECT time FROM reserve_time_info_3
		WHERE no = #{no}
	</select>
	<!-- 예약 조회용 데이터 INSERT -->
	<insert id="reserveInfoInsert">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM reserve_info_3
		</selectKey><!-- sequence -->
		INSERT INTO reserve_info_3(no,member_id,rdate,rtime,capa,parking,place_no,rep_image,price,name)
		VALUES(#{no},#{member_id},#{rdate},#{rtime},#{capa},#{parking},#{place_no},#{rep_image},#{totalPrice},#{name})
	</insert>
	<!-- [유저] 예약목록 조회 -->
	<select id="user_reserveListData" parameterType="hashmap" resultType="ReserveVO">
		SELECT no, rtime, capa, TO_CHAR(regdate,'yyyy-mm-dd') as dbday, state, place_no, member_id, rdate, parking, price, rep_image,name, num
		FROM (SELECT no, rtime, capa,regdate, state, place_no, member_id, rdate, parking, price, rep_image,name, rownum as num
		FROM (SELECT no, rtime, capa,regdate, state, place_no, member_id, rdate, parking, price, rep_image,name
		FROM reserve_info_3 WHERE member_id=#{member_id} ORDER BY no DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="user_reserveTotal" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM reserve_info_3 WHERE member_id=#{member_id} AND state=0
	</select>
	<select id="user_reserveTotalChecked" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM reserve_info_3 WHERE member_id=#{member_id} AND state=1
	</select>
	<!-- [유저] 예약 취소 -->
	<delete id="user_reserveDelete" parameterType="hashmap">
		DELETE FROM ${table_name}
		WHERE no=#{no}
	</delete>
	<!-- [유저] 예약 상세조회 -->
	<select id="user_reserveDetailData" parameterType="int" resultType="ReserveVO">
		SELECT ri3.no, rtime, regdate, state, place_no, member_id, rdate, ri3.parking, ri3.capa, ri3.rep_image, ri3.price, ri3.name, p3.address
		FROM reserve_info_3 ri3, place_3 p3
		WHERE p3.no = ri3.place_no AND ri3.no = #{no}
	</select>
	<select id="admin_reserveWaitCount" resultType="int">
	  SELECT COUNT(*) FROM reserve_info_3 WHERE state=0
	</select>
	
	<!-- [관리자] 예약 승인대기 목록 조회 -->
	<select id="admin_reserveListData" resultType="ReserveVO" parameterType="hashmap">
		SELECT no,rtime,capa,TO_CHAR(regdate,'yyyy-mm-dd') as dbday,
         state,place_no,member_id,
         rdate,parking,rep_image,
         name, price,
         member_tel,num
		FROM (SELECT no,rtime,capa,regdate,
         state,place_no,member_id,
         rdate,parking,rep_image,
         name, price,
         member_tel,rownum as num
		FROM (SELECT no,rtime,capa,regdate,
         state,place_no,member_id,
         rdate,parking,rep_image,
         reserve_info_3.name as name, price,
         member_3.tel as member_tel
		FROM reserve_info_3,member_3 WHERE state=#{type} AND member_id=member_3.id ORDER BY no DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- [관리자] 예약 승인 처리 -->
	<update id="admin_reserveCheck" parameterType="hashmap">
		UPDATE ${table_name} SET state=1
		WHERE no=#{no}
	</update>
</mapper>