<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.review-mapper">

<!-- no        NUMBER,
	content   VARCHAR2(1500)		 CONSTRAINT review_content_nn NOT NULL,
	regdate   DATE    			 DEFAULT SYSDATE,
	imgname   VARCHAR(500),
	imgsize     VARCHAR(500),
	place_no  NUMBER     		 NOT NULL,
	member_id VARCHAR2(30)  		 NOT NULL,
	score	NUMBER			 CONSTRAINT review_score_nn NOT NULL,
	CONSTRAINT review_3_no_pk PRIMARY KEY(no)
	rcount NUMBER DEFAULT 0
 -->
 
 <!-- 도움돼요  -->  
<update id="reviewLikeInsert" parameterType="ReviewVO">
   UPDATE review_3 SET
   rcount= rcount + 1
   WHERE no=#{no} AND member_id=#{member_id}
</update>
<insert id="likeCheckInsert" parameterType="ReviewVO">
INSERT INTO like_check_3 
VALUES (1,#{no},#{member_id})
</insert>

 <!-- 도움돼요 취소  -->
<update id="reviewLikeCancel" parameterType="ReviewVO">
	UPDATE review_3 SET
	rcount = rcount - 1
	
	WHERE no=#{no} AND member_id=#{member_id}
</update>
<delete id="likeCheckDelete" parameterType="ReviewVO">
 DELETE FROM like_check_3
 WHERE review_no=#{no} AND member_id=#{member_id}
</delete>

<!--추천 중복 체크 -->
<!-- LIKE_CHECK_3 -->
<select id="reviewLikeCheck" resultType="int" parameterType="hashmap">
 SELECT count(*)
 FROM like_check_3
 WHERE review_no=#{no} AND member_id=#{member_id}
</select>
<!-- 평점 평균 구하기 -->
<select id="scoreAvg" resultType="double" parameterType="int">
  SELECT ROUND(AVG(score),1) 
  FROM review_3
  WHERE place_no=#{place_no}
</select>

<!--  댓글 카운트 -->
<select id="counts" resultType="int" parameterType="int">
 SELECT COUNT(*)
 FROM review_3
 WHERE place_no=#{place_no}
</select>

<!--  상세보기 리뷰 리스트 -->
<select id="reviewListData" resultType="ReviewVO" parameterType="hashmap">
  SELECT /*+ INDEX_DESC(REVIEW_3 review_3_no_pk)*/ no,member_id,content,score,TO_CHAR(regdate,'YYYY-MM-DD') AS dbday,rcount,num
  FROM (SELECT no,member_id,content,score,regdate,rcount,rownum AS num
  FROM (SELECT no,member_id,content,score,regdate,rcount
  FROM REVIEW_3 WHERE place_no=#{place_no}))
  WHERE num BETWEEN #{start} AND #{end}
</select>
<!-- 베스트 리뷰 -->
<select id="bestReview" resultType="ReviewVO">
SELECT place_no,member_id,content,score,(SELECT REP_IMAGE FROM place_3 p WHERE place_no=p.no ) AS rep_image,rcount
   FROM review_3 
   ORDER BY rcount DESC;
</select>
<!-- 리뷰 등록 -->
<insert id="reviewInsert" parameterType="ReviewVO">
   <!--  시퀀스 처리 -->
   <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) AS no FROM REVIEW_3
   </selectKey>
   INSERT INTO REVIEW_3 (no,place_no,member_id,content,score,regdate)
   VALUES(
	#{no},
	#{place_no},
	#{member_id},
	#{content},
	#{score},
	<!--#{imgname} 사진을 어떻게 처리할지 몰라서 일단 보류 -->
	SYSDATE
   )
</insert>

<!--마이페이지 -> 리뷰 수정 -->
<update id="reviewUpdate" parameterType="ReviewVO">
 UPDATE REVIEW_3 SET
 content=#{content}
 score=#{score} <!--평점도 수정해야 -->
 <!-- 여기도 사진 수정할 수 있도록,,, -->
 WHERE no=#{no}
 </update>

<!-- 삭제 -->
<delete id="reivewDelete" parameterType="int">
  DELETE FROM REVIEW_3
  WHERE no=#{no}
</delete>

</mapper>
